<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allowUserScaling</key>
	<integer>1</integer>
	<key>createOfflineApplicationCache</key>
	<false/>
	<key>currentScene</key>
	<string>11</string>
	<key>displayedAttributes</key>
	<array>
		<string>kPropertiesMenuItemIdentifierOpacity</string>
		<string>kPropertiesMenuItemIdentifierAnimated</string>
		<string>kPropertiesMenuItemIdentifierPosition</string>
	</array>
	<key>documentVersion</key>
	<string>322</string>
	<key>documentationVerticalSplitViewPosition</key>
	<real>280</real>
	<key>drawSceneBackgrounds</key>
	<true/>
	<key>fonts</key>
	<array/>
	<key>guidesAreLocked</key>
	<false/>
	<key>guidesAreVisible</key>
	<true/>
	<key>lastCheckDate</key>
	<date>2014-02-09T16:44:00Z</date>
	<key>layout</key>
	<dict>
		<key>keyframeTimelineHeight</key>
		<real>106</real>
		<key>mainWindowFrame</key>
		<string>5 104 891 774 0 0 1440 878 </string>
		<key>openTabs</key>
		<array/>
		<key>selectedTabIndex</key>
		<integer>0</integer>
		<key>showSceneTabView</key>
		<true/>
		<key>splitHeight</key>
		<real>461</real>
		<key>splitViewIsVertical</key>
		<false/>
		<key>splitWidth</key>
		<real>640</real>
	</dict>
	<key>minimumSupportedBrowserVersions</key>
	<dict>
		<key>Android</key>
		<string>2.3</string>
		<key>Chrome</key>
		<string>Latest</string>
		<key>Firefox</key>
		<string>3.6</string>
		<key>IE</key>
		<string>6</string>
		<key>Mobile Safari</key>
		<string>5.1.1</string>
		<key>Opera</key>
		<string>11.10</string>
		<key>Safari</key>
		<string>5.1.3</string>
		<key>iBooks</key>
		<string>Latest</string>
	</dict>
	<key>mobileStatusBarStyle</key>
	<integer>0</integer>
	<key>oidCounter</key>
	<integer>13</integer>
	<key>resourcesInfo</key>
	<dict>
		<key>groups</key>
		<array>
			<dict>
				<key>expanded</key>
				<true/>
				<key>name</key>
				<string>sample</string>
				<key>oid</key>
				<string>2</string>
				<key>resources</key>
				<array>
					<string>sample.jpg</string>
				</array>
			</dict>
			<dict>
				<key>expanded</key>
				<true/>
				<key>name</key>
				<string>dragon</string>
				<key>oid</key>
				<string>4</string>
				<key>resources</key>
				<array>
					<string>dragon.jpg</string>
				</array>
			</dict>
			<dict>
				<key>expanded</key>
				<true/>
				<key>name</key>
				<string>Medieval_Knight_by_lijinbo78</string>
				<key>oid</key>
				<string>6</string>
				<key>resources</key>
				<array>
					<string>Medieval_Knight_by_lijinbo78.jpg</string>
				</array>
			</dict>
			<dict>
				<key>expanded</key>
				<true/>
				<key>name</key>
				<string>a-call-to-duty</string>
				<key>oid</key>
				<string>13</string>
				<key>resources</key>
				<array>
					<string>a-call-to-duty.mp3</string>
				</array>
			</dict>
		</array>
		<key>resources</key>
		<array>
			<dict>
				<key>fileModificationDate</key>
				<date>2014-02-09T13:02:34Z</date>
				<key>fileSize</key>
				<integer>223604</integer>
				<key>md5</key>
				<string>76CFA81918919521FAA7B8FD43991931</string>
				<key>notifyOnBookmarkChange</key>
				<true/>
				<key>originalPath</key>
				<string>/Users/tcs/Desktop/movie assets/sample.jpg</string>
				<key>resourceName</key>
				<string>sample.jpg</string>
				<key>securityScopedBookmark</key>
				<data>
				Ym9va8QCAAAAAAQQMAAAAFVvnF5WuNAefANsG7ATdHpq
				Q9DQy97XYMq7ANHSrY+1zAEAAAUAAAABAQAAVXNlcnMA
				AAADAAAAAQEAAHRjcwAHAAAAAQEAAERlc2t0b3AADAAA
				AAEBAABtb3ZpZSBhc3NldHMKAAAAAQEAAHNhbXBsZS5q
				cGcAABQAAAABBgAABAAAABQAAAAgAAAAMAAAAEQAAAAI
				AAAABAMAAOCGDwAAAAAACAAAAAQDAAARhw8AAAAAAAgA
				AAAEAwAAsqEPAAAAAAAIAAAABAMAACm5KAIAAAAACAAA
				AAQDAAAvuSgCAAAAABQAAAABBgAAdAAAAIQAAACUAAAA
				pAAAALQAAAAIAAAAAAQAAEG4p7PqAAAAGAAAAAECAAAB
				AAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAMA
				AAAAAAAABAAAAAMDAAD1AQAADAAAAAEBAABNYWNpbnRv
				c2ggSEQIAAAABAMAAAAQiCk6AAAACAAAAAAEAABBtcqU
				oAAAACQAAAABAQAAM0NCNTUzMjYtRTczMi0zNjZFLTk0
				NzgtODE2QUMxMUExMzdBGAAAAAECAACBAAAAAQAIAO8X
				AAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUA
				AAQAAAADAwAAAAkAKMAAAAD+////AQAAAAAAAAAPAAAA
				BBAAAFgAAAAAAAAABRAAAMQAAAAAAAAAEBAAAPAAAAAA
				AAAAQBAAAOAAAAAAAAAAAiAAAKwBAAAAAAAAECAAACwB
				AAAAAAAAESAAAGABAAAAAAAAEiAAAEABAAAAAAAAEyAA
				AFABAAAAAAAAICAAAIwBAAAAAAAAMCAAALgBAAAAAAAA
				AcAAABABAAAAAAAAEcAAABQAAAAAAAAAEsAAACABAAAA
				AAAAENAAAMABAAAAAAAA
				</data>
				<key>shouldAutoResize</key>
				<true/>
				<key>shouldIncludeInDocumentHeadHTML</key>
				<false/>
				<key>shouldPreload</key>
				<true/>
				<key>shouldRemoveWhenNoLongerReferenced</key>
				<false/>
				<key>type</key>
				<string>FileResource</string>
			</dict>
			<dict>
				<key>fileModificationDate</key>
				<date>2014-02-09T13:06:33Z</date>
				<key>fileSize</key>
				<integer>355962</integer>
				<key>md5</key>
				<string>EE9F36F9E816B17887D47156139EEB3B</string>
				<key>notifyOnBookmarkChange</key>
				<true/>
				<key>originalPath</key>
				<string>/Users/tcs/Desktop/movie assets/dragon.jpg</string>
				<key>resourceName</key>
				<string>dragon.jpg</string>
				<key>securityScopedBookmark</key>
				<data>
				Ym9va8QCAAAAAAQQMAAAAKo2lZoMy2cUKTGJR7o/OZT9
				VMBTAzq3w3gN7rzgYR7uzAEAAAUAAAABAQAAVXNlcnMA
				AAADAAAAAQEAAHRjcwAHAAAAAQEAAERlc2t0b3AADAAA
				AAEBAABtb3ZpZSBhc3NldHMKAAAAAQEAAGRyYWdvbi5q
				cGcAABQAAAABBgAABAAAABQAAAAgAAAAMAAAAEQAAAAI
				AAAABAMAAOCGDwAAAAAACAAAAAQDAAARhw8AAAAAAAgA
				AAAEAwAAsqEPAAAAAAAIAAAABAMAACm5KAIAAAAACAAA
				AAQDAAAuuigCAAAAABQAAAABBgAAdAAAAIQAAACUAAAA
				pAAAALQAAAAIAAAAAAQAAEG4p7TZAAAAGAAAAAECAAAB
				AAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAMA
				AAAAAAAABAAAAAMDAAD1AQAADAAAAAEBAABNYWNpbnRv
				c2ggSEQIAAAABAMAAAAQiCk6AAAACAAAAAAEAABBtcqU
				oAAAACQAAAABAQAAM0NCNTUzMjYtRTczMi0zNjZFLTk0
				NzgtODE2QUMxMUExMzdBGAAAAAECAACBAAAAAQAIAO8X
				AAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUA
				AAQAAAADAwAAAAkAKMAAAAD+////AQAAAAAAAAAPAAAA
				BBAAAFgAAAAAAAAABRAAAMQAAAAAAAAAEBAAAPAAAAAA
				AAAAQBAAAOAAAAAAAAAAAiAAAKwBAAAAAAAAECAAACwB
				AAAAAAAAESAAAGABAAAAAAAAEiAAAEABAAAAAAAAEyAA
				AFABAAAAAAAAICAAAIwBAAAAAAAAMCAAALgBAAAAAAAA
				AcAAABABAAAAAAAAEcAAABQAAAAAAAAAEsAAACABAAAA
				AAAAENAAAMABAAAAAAAA
				</data>
				<key>shouldAutoResize</key>
				<true/>
				<key>shouldIncludeInDocumentHeadHTML</key>
				<false/>
				<key>shouldPreload</key>
				<true/>
				<key>shouldRemoveWhenNoLongerReferenced</key>
				<false/>
				<key>type</key>
				<string>FileResource</string>
			</dict>
			<dict>
				<key>fileModificationDate</key>
				<date>2014-02-09T13:10:33Z</date>
				<key>fileSize</key>
				<integer>204595</integer>
				<key>md5</key>
				<string>B5C85208CD90227F963781D717B31DAE</string>
				<key>notifyOnBookmarkChange</key>
				<true/>
				<key>originalPath</key>
				<string>/Users/tcs/Desktop/movie assets/Medieval_Knight_by_lijinbo78.jpg</string>
				<key>resourceName</key>
				<string>Medieval_Knight_by_lijinbo78.jpg</string>
				<key>securityScopedBookmark</key>
				<data>
				Ym9va9gCAAAAAAQQMAAAAMSEDgVgpucT397CXwWgVLnz
				LtMII11G/b/ju7/6fij44AEAAAUAAAABAQAAVXNlcnMA
				AAADAAAAAQEAAHRjcwAHAAAAAQEAAERlc2t0b3AADAAA
				AAEBAABtb3ZpZSBhc3NldHMgAAAAAQEAAE1lZGlldmFs
				X0tuaWdodF9ieV9saWppbmJvNzguanBnFAAAAAEGAAAE
				AAAAFAAAACAAAAAwAAAARAAAAAgAAAAEAwAA4IYPAAAA
				AAAIAAAABAMAABGHDwAAAAAACAAAAAQDAACyoQ8AAAAA
				AAgAAAAEAwAAKbkoAgAAAAAIAAAABAMAAEa7KAIAAAAA
				FAAAAAEGAACIAAAAmAAAAKgAAAC4AAAAyAAAAAgAAAAA
				BAAAQbintckAAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAA
				AAAAAAAAAAAAAAgAAAAEAwAAAwAAAAAAAAAEAAAAAwMA
				APUBAAAMAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAA
				ABCIKToAAAAIAAAAAAQAAEG1ypSgAAAAJAAAAAEBAAAz
				Q0I1NTMyNi1FNzMyLTM2NkUtOTQ3OC04MTZBQzExQTEz
				N0EYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAA
				AAEAAAABAQAALwAAAAAAAAABBQAABAAAAAMDAAAACQAo
				wAAAAP7///8BAAAAAAAAAA8AAAAEEAAAbAAAAAAAAAAF
				EAAA2AAAAAAAAAAQEAAABAEAAAAAAABAEAAA9AAAAAAA
				AAACIAAAwAEAAAAAAAAQIAAAQAEAAAAAAAARIAAAdAEA
				AAAAAAASIAAAVAEAAAAAAAATIAAAZAEAAAAAAAAgIAAA
				oAEAAAAAAAAwIAAAzAEAAAAAAAABwAAAJAEAAAAAAAAR
				wAAAFAAAAAAAAAASwAAANAEAAAAAAAAQ0AAA1AEAAAAA
				AAA=
				</data>
				<key>shouldAutoResize</key>
				<true/>
				<key>shouldIncludeInDocumentHeadHTML</key>
				<false/>
				<key>shouldPreload</key>
				<true/>
				<key>shouldRemoveWhenNoLongerReferenced</key>
				<false/>
				<key>type</key>
				<string>FileResource</string>
			</dict>
			<dict>
				<key>fileModificationDate</key>
				<date>2013-11-27T17:01:03Z</date>
				<key>fileSize</key>
				<integer>7263995</integer>
				<key>md5</key>
				<string>EC9146AA330BD11DDD1308B55F50422D</string>
				<key>notifyOnBookmarkChange</key>
				<true/>
				<key>originalPath</key>
				<string>/Users/tcs/Desktop/a-call-to-duty.mp3</string>
				<key>resourceName</key>
				<string>a-call-to-duty.mp3</string>
				<key>securityScopedBookmark</key>
				<data>
				Ym9va6ACAAAAAAQQMAAAADW9cqDSBwi513DF9NEZfWMy
				xB/paxAnlC/mZSeHnzLiqAEAAAUAAAABAQAAVXNlcnMA
				AAADAAAAAQEAAHRjcwAHAAAAAQEAAERlc2t0b3AAEgAA
				AAEBAABhLWNhbGwtdG8tZHV0eS5tcDMAABAAAAABBgAA
				BAAAABQAAAAgAAAAMAAAAAgAAAAEAwAA4IYPAAAAAAAI
				AAAABAMAABGHDwAAAAAACAAAAAQDAACyoQ8AAAAAAAgA
				AAAEAwAA1dQoAgAAAAAQAAAAAQYAAGQAAAB0AAAAhAAA
				AJQAAAAIAAAAAAQAAEG4RlzPAAAAGAAAAAECAAABAAAA
				AAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAIAAAAA
				AAAABAAAAAMDAAD1AQAADAAAAAEBAABNYWNpbnRvc2gg
				SEQIAAAABAMAAAAQiCk6AAAACAAAAAAEAABBtcqUoAAA
				ACQAAAABAQAAM0NCNTUzMjYtRTczMi0zNjZFLTk0Nzgt
				ODE2QUMxMUExMzdBGAAAAAECAACBAAAAAQAIAO8XAAAB
				AAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAAQA
				AAADAwAAAAkAKMAAAAD+////AQAAAAAAAAAPAAAABBAA
				AEwAAAAAAAAABRAAAKQAAAAAAAAAEBAAAMwAAAAAAAAA
				QBAAALwAAAAAAAAAAiAAAIgBAAAAAAAAECAAAAgBAAAA
				AAAAESAAADwBAAAAAAAAEiAAABwBAAAAAAAAEyAAACwB
				AAAAAAAAICAAAGgBAAAAAAAAMCAAAJQBAAAAAAAAAcAA
				AOwAAAAAAAAAEcAAABQAAAAAAAAAEsAAAPwAAAAAAAAA
				ENAAAJwBAAAAAAAA
				</data>
				<key>shouldAutoResize</key>
				<true/>
				<key>shouldIncludeInDocumentHeadHTML</key>
				<false/>
				<key>shouldPreload</key>
				<true/>
				<key>shouldRemoveWhenNoLongerReferenced</key>
				<false/>
				<key>type</key>
				<string>FileResource</string>
			</dict>
		</array>
	</dict>
	<key>sceneScalePercentageSize</key>
	<string>{1, 1}</string>
	<key>sceneSize</key>
	<string>{1024, 650}</string>
	<key>scenes</key>
	<array>
		<dict>
			<key>animationController</key>
			<dict>
				<key>expandedItems</key>
				<array/>
				<key>timeCursors</key>
				<dict>
					<key>kTimelineDefaultIdentifier</key>
					<real>4</real>
				</dict>
				<key>timescale</key>
				<integer>60</integer>
			</dict>
			<key>canvasSize</key>
			<string>{3564, 1844}</string>
			<key>context</key>
			<dict>
				<key>currentTimelineIdentifier</key>
				<string>kTimelineDefaultIdentifier</string>
				<key>elements</key>
				<dict>
					<key>7</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>-301px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundRepeat</string>
							<key>objectValue</key>
							<string>no-repeat</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>1252px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>AutoresizingMask</string>
							<key>objectValue</key>
							<string>63</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>-425px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>1.49533</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImageResourceGroupOid</string>
							<key>objectValue</key>
							<string>6</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>3</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>1872px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>Medieval_Knight_by_lijinbo78</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>1070px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>1600px</string>
						</dict>
					</array>
				</dict>
				<key>onSceneLoadActionHandler</key>
				<dict>
					<key>actions</key>
					<array>
						<dict>
							<key>loop</key>
							<false/>
							<key>resourceGroupOid</key>
							<string>13</string>
							<key>type</key>
							<integer>12</integer>
						</dict>
					</array>
				</dict>
				<key>properties</key>
				<dict>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>perspective</key>
					<real>600</real>
				</dict>
				<key>timelines</key>
				<array>
					<dict>
						<key>animations</key>
						<array>
							<dict>
								<key>duration</key>
								<real>4</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>-36px</string>
								</dict>
								<key>identifier</key>
								<string>Left</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>7</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>-425px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>9F773A68-489F-4819-A842-63411C754017-5922-000019A3680C3CDE</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>4</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>-41px</string>
								</dict>
								<key>identifier</key>
								<string>Top</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>7</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>-301px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>AF7D772E-1715-4E9E-BB28-7731A5E74773-5922-000019A36820251A</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>4</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Width</string>
									<key>objectValue</key>
									<string>1094px</string>
								</dict>
								<key>identifier</key>
								<string>Width</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>7</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Width</string>
									<key>objectValue</key>
									<string>1872px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>F387391E-3004-4652-AB38-697A2936F650-5922-000019B07CE0B278</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>4</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Height</string>
									<key>objectValue</key>
									<string>732px</string>
								</dict>
								<key>identifier</key>
								<string>Height</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>7</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Height</string>
									<key>objectValue</key>
									<string>1252px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>E8751942-67F1-4FB7-A4D8-AE8D2A74F599-5922-000019B07CF158D5</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>ActionHandler</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>kTimelineDefaultIdentifier</string>
								<key>startTime</key>
								<real>4</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>ActionHandler</string>
									<key>objectValue</key>
									<dict>
										<key>actions</key>
										<array>
											<dict>
												<key>duration</key>
												<real>1.1000000238418579</real>
												<key>sceneOid</key>
												<string>8</string>
												<key>transition</key>
												<integer>2</integer>
												<key>type</key>
												<integer>1</integer>
											</dict>
										</array>
									</dict>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>2</integer>
								<key>uuid</key>
								<string>ADD9DBB1-81CE-4EC3-8DDC-2312B8EB16B4-5922-00000FE1EB7F0B7C</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Left</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>7</string>
								<key>startTime</key>
								<real>4</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>-36px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>C59FE651-E64A-475E-ACD9-A54D9037EA34-5922-000019B07CC9DA57</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Width</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>7</string>
								<key>startTime</key>
								<real>4</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Width</string>
									<key>objectValue</key>
									<string>1094px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>102C6E61-9791-4929-9D0C-6994DF725EFF-5922-000019B07CE83656</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Height</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>7</string>
								<key>startTime</key>
								<real>4</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Height</string>
									<key>objectValue</key>
									<string>732px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>2AF5A47D-64FF-4FCD-97CF-8C20761208E0-5922-000019B07CF6F20D</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Top</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>7</string>
								<key>startTime</key>
								<real>4</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>-41px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>FA0A5518-57E3-4E74-87E6-A5F4114EDB2A-5922-000019B0855611FB</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
						</array>
						<key>firstKeyframeIsRelative</key>
						<false/>
						<key>framesPerSecond</key>
						<integer>30</integer>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>kTimelineDefaultIdentifier</string>
						<key>name</key>
						<string>Main Timeline</string>
						<key>userDefinedDuration</key>
						<real>0.0</real>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>Knight</string>
			<key>oid</key>
			<string>1</string>
			<key>scrollViewOffset</key>
			<string>{0, 0}</string>
			<key>selectedObjects</key>
			<array>
				<string>7</string>
			</array>
			<key>splitHeight</key>
			<real>461</real>
		</dict>
		<dict>
			<key>animationController</key>
			<dict>
				<key>expandedItems</key>
				<array/>
				<key>lastUserSelectedTimingFunction</key>
				<string>instant</string>
				<key>timeCursors</key>
				<dict>
					<key>kTimelineDefaultIdentifier</key>
					<real>4</real>
				</dict>
				<key>timescale</key>
				<integer>60</integer>
			</dict>
			<key>canvasSize</key>
			<string>{3564, 1844}</string>
			<key>context</key>
			<dict>
				<key>currentTimelineIdentifier</key>
				<string>kTimelineDefaultIdentifier</string>
				<key>elements</key>
				<dict>
					<key>10</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>-47px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundRepeat</string>
							<key>objectValue</key>
							<string>no-repeat</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>766px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>AutoresizingMask</string>
							<key>objectValue</key>
							<string>61</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>-60px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>1.6</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImageResourceGroupOid</string>
							<key>objectValue</key>
							<string>4</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>2</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>1225px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>dragon</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>1200px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>1920px</string>
						</dict>
					</array>
				</dict>
				<key>properties</key>
				<dict>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>perspective</key>
					<real>600</real>
				</dict>
				<key>timelines</key>
				<array>
					<dict>
						<key>animations</key>
						<array>
							<dict>
								<key>duration</key>
								<real>4</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>-590px</string>
								</dict>
								<key>identifier</key>
								<string>Left</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>10</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>-60px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>553890A1-867F-4177-B998-9A7862D382F4-5922-000019894DAF3E9E</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>4</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>-129px</string>
								</dict>
								<key>identifier</key>
								<string>Top</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>10</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>-47px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>F3C5C929-3EB4-4E49-9473-7EA1DE6B94EB-5922-000019894DD1C5E9</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>4</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Width</string>
									<key>objectValue</key>
									<string>1920px</string>
								</dict>
								<key>identifier</key>
								<string>Width</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>10</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Width</string>
									<key>objectValue</key>
									<string>1225px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>BA114C6F-8C0C-4309-9962-164706C34456-5922-000019894DE849DF</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>4</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Height</string>
									<key>objectValue</key>
									<string>1200px</string>
								</dict>
								<key>identifier</key>
								<string>Height</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>10</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Height</string>
									<key>objectValue</key>
									<string>766px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>30CC40D1-66CF-4592-B4A2-C14134798F72-5922-000019894DF6F0EE</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>ActionHandler</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>kTimelineDefaultIdentifier</string>
								<key>startTime</key>
								<real>4</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>ActionHandler</string>
									<key>objectValue</key>
									<dict>
										<key>actions</key>
										<array>
											<dict>
												<key>duration</key>
												<real>1.1000000238418579</real>
												<key>sceneOid</key>
												<string>11</string>
												<key>transition</key>
												<integer>2</integer>
												<key>type</key>
												<integer>1</integer>
											</dict>
										</array>
									</dict>
								</dict>
								<key>timingFunction</key>
								<string>instant</string>
								<key>type</key>
								<integer>2</integer>
								<key>uuid</key>
								<string>8DE58379-34DF-4234-BD0E-43E59DB2C1F3-5922-00000FEB0DA670DC</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Width</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>10</string>
								<key>startTime</key>
								<real>4</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Width</string>
									<key>objectValue</key>
									<string>1920px</string>
								</dict>
								<key>timingFunction</key>
								<string>instant</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>C83D7477-BEC5-4A6F-87CC-9188C25E736D-5922-000019894DEE0CB0</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Top</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>10</string>
								<key>startTime</key>
								<real>4</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>-129px</string>
								</dict>
								<key>timingFunction</key>
								<string>instant</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>522D66E8-3723-4221-9D4E-4D0C0C4894D0-5922-000019894DDB8523</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Left</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>10</string>
								<key>startTime</key>
								<real>4</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>-590px</string>
								</dict>
								<key>timingFunction</key>
								<string>instant</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>034A25BA-E607-421E-82E6-44078FFB7AE7-5922-000019894DC09AB3</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Height</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>10</string>
								<key>startTime</key>
								<real>4</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Height</string>
									<key>objectValue</key>
									<string>1200px</string>
								</dict>
								<key>timingFunction</key>
								<string>instant</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>2F088ECB-F253-45C2-9B29-A25F61AAA68A-5922-000019894DFCA0C0</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
						</array>
						<key>firstKeyframeIsRelative</key>
						<false/>
						<key>framesPerSecond</key>
						<integer>30</integer>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>kTimelineDefaultIdentifier</string>
						<key>name</key>
						<string>Main Timeline</string>
						<key>userDefinedDuration</key>
						<real>0.0</real>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>Dragon</string>
			<key>oid</key>
			<string>8</string>
			<key>scrollViewOffset</key>
			<string>{0, 0}</string>
			<key>selectedObjects</key>
			<array>
				<string>10</string>
			</array>
			<key>splitHeight</key>
			<real>461</real>
		</dict>
		<dict>
			<key>animationController</key>
			<dict>
				<key>expandedItems</key>
				<array/>
				<key>timeCursors</key>
				<dict>
					<key>kTimelineDefaultIdentifier</key>
					<real>1.5</real>
				</dict>
				<key>timescale</key>
				<integer>60</integer>
			</dict>
			<key>canvasSize</key>
			<string>{3564, 1844}</string>
			<key>context</key>
			<dict>
				<key>currentTimelineIdentifier</key>
				<string>kTimelineDefaultIdentifier</string>
				<key>elements</key>
				<dict>
					<key>12</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundRepeat</string>
							<key>objectValue</key>
							<string>no-repeat</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>735px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>AutoresizingMask</string>
							<key>objectValue</key>
							<string>63</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>-128px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>1.77778</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImageResourceGroupOid</string>
							<key>objectValue</key>
							<string>2</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>1306px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>sample</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>1080px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>1920px</string>
						</dict>
					</array>
				</dict>
				<key>properties</key>
				<dict>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>perspective</key>
					<real>600</real>
				</dict>
				<key>timelines</key>
				<array>
					<dict>
						<key>animations</key>
						<array/>
						<key>firstKeyframeIsRelative</key>
						<false/>
						<key>framesPerSecond</key>
						<integer>30</integer>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>kTimelineDefaultIdentifier</string>
						<key>name</key>
						<string>Main Timeline</string>
						<key>userDefinedDuration</key>
						<real>0.0</real>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>Library</string>
			<key>oid</key>
			<string>11</string>
			<key>scrollViewOffset</key>
			<string>{0, 0}</string>
			<key>selectedObjects</key>
			<array>
				<string>12</string>
			</array>
			<key>splitHeight</key>
			<real>461</real>
		</dict>
	</array>
	<key>scripts</key>
	<array/>
	<key>shouldScaleSceneHeight</key>
	<true/>
	<key>shouldScaleSceneWidth</key>
	<true/>
	<key>showLoadingPage</key>
	<false/>
	<key>showRulers</key>
	<false/>
	<key>showTapHighlight</key>
	<integer>1</integer>
	<key>sourceEditorDocumentationHeight</key>
	<real>230</real>
	<key>useGraphicsAcceleration</key>
	<true/>
	<key>useInitialScale</key>
	<integer>0</integer>
	<key>useTouchEvents</key>
	<true/>
	<key>viewportOption</key>
	<integer>0</integer>
	<key>webAppCapable</key>
	<integer>0</integer>
	<key>zoomFactor</key>
	<real>0.25</real>
</dict>
</plist>
